<!-- Content Header (Page header) -->
<section class="content-header" style="background-color: #323232;">
  <!-- <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Fixed Layout</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active">Fixed Layout</li>
              </ol>
            </div>
          </div>
        </div> -->
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" style="background-color: #323232;">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4  mb-4">
        <div class="card h-100" style="background-color: #18261C;">
          <div class="card-body scrollable-card-body">
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid mb-3" src="../../dist/img/patwal1.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal2.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal3.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal4.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal1.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal2.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal3.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal4.png" alt="Photo">
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <img class="img-fluid mb-3" src="../../dist/img/patwal1.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal2.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal3.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal4.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal1.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal2.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal3.png" alt="Photo">
                <img class="img-fluid mb-3" src="../../dist/img/patwal4.png" alt="Photo">
              </div>
              <!-- /.col -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8  mb-4">
        <div class="card h-100" style="background-color: #18261C;">
          <div class="card-body" style="padding: 0;">
            <input type="hidden" id="id" value="<%= id %>" />
            <input type="hidden" id="type" value="<%= type %>" />
            <input type="hidden" id="user_id" value="<%= user_id %>" />
            <input type="hidden" id="username" value="<%= username %>" />
            <input type="hidden" id="token" value="<%= token %>" />
            <div id="map">
              <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img
                  src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <p><a href="https://www.maptiler.com/copyright/" target="_blank" rel="noopener">&copy; MapTiler</a> <a
                href="https://www.openstreetmap.org/copyright" target="_blank" rel="noopener">&copy; OpenStreetMap
                contributors</a></p>
          </div>
          <!-- /.card-footer-->
        </div>
      </div>
    </div>

</section>
<!-- /.content -->