<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <style>
    .scrollable-card-body {
            max-height: 82vh; /* Set the desired maximum height */
            overflow-y: auto; /* Enable vertical scroll if content exceeds max-height */
        }
    #map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .card,
    .card-body,
    #map {
      height: 82vh;
      /* atau 100% jika dalam layout tertentu */
      width: 100%;
    }
  </style>
  <style>
      .canvas-wrapper {
        position: relative;
        /* sudah ada */
      }

      .camera-name {
        position: absolute;
        top: 10px;
        /* jarak dari atas */
        left: 10px;
        /* jarak dari kanan */
        background: rgba(3, 3, 3, 0.8);
        /* biar kelihatan */
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 4px;
        z-index: 10;
        /* pastikan di atas canvas */
      }

      .camera-expand {
        position: absolute;
        top: 10px;
        /* jarak dari atas */
        right: 10px;
        /* jarak dari kanan */
        background: rgba(3, 3, 3, 0.8);
        /* biar kelihatan */
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 4px;
        z-index: 10;
        /* pastikan di atas canvas */
      }

      .record-indicator {
        position: absolute;
        bottom: 10px;
        /* jarak dari atas */
        left: 10px;
        /* jarak dari kanan */
        background: rgba(255, 0, 0, 0.8);
        /* biar kelihatan */
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 4px;
        z-index: 10; /* pastikan di atas canvas */
        animation: blink 1s infinite; /* bikin kedip */
      }

      @keyframes blink {
        0%   { opacity: 1; }
        50%  { opacity: 0.3; }
        100% { opacity: 1; }
      }

    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <%- include('../partials/navbar'); %>
  <%- include('../partials/sidebar'); %>

  <div class="content-wrapper">
     <%- body %>
  </div>

  <%- include('../partials/footer'); %>

</div>

<%- include('../partials/scripts_dashboard'); %>
</body>
</html>
