<!-- Content Header (Page header) -->
<section class="content-header" style="background-color: #323232;">
    <!-- <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Fixed Layout</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active">Fixed Layout</li>
              </ol>
            </div>
          </div>
        </div> -->
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" style="background-color: #323232;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="card h-100" style="background-color: #18261C;">
                    <div class="card-header">
                        <h5 class="text-white">#<%= row.activity_id %> - <%= row.activity_name %>
                        </h5>
                    </div>
                    <div class="card-body scrollable-card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="canvas-wrapper" style="position: relative; width: 100%;">
                                    <!-- <button type="button" onclick="toggleRecording('videoCanvas1')" id="recordBtn1"
                                        class="btn btn-tool" style='font-size:24px;' title="Record">
                                        <i class="fas fa-video"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool"
                                        onclick="expandCanvasFullscreen('videoCanvas1')" style='font-size:24px'
                                        title="Expand">
                                        <i class="fas fa-expand-arrows-alt"></i>
                                    </button> -->
                                    <canvas id="videoCanvas1" class="img-fluid" onclick="expandCanvasFullscreen('videoCanvas1')"></canvas>
                                    <div id="recordIndicator1" class="record-indicator">● REC</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="canvas-wrapper" style="position: relative;">
                                    <canvas id="videoCanvas2" class="img-fluid"></canvas>
                                    <div id="recordIndicator2" class="record-indicator">● REC</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="canvas-wrapper" style="position: relative;">
                                    <canvas id="videoCanvas3" class="img-fluid"></canvas>
                                    <div id="recordIndicator3" class="record-indicator">● REC</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="canvas-wrapper" style="position: relative;">
                                    <canvas id="videoCanvas4" class="img-fluid"></canvas>
                                    <div id="recordIndicator4" class="record-indicator">● REC</div>
                                </div>
                            </div>

                            <!-- <div class="col-sm-6">
                                <img class="img-fluid mb-3" src="../../dist/img/patwal2.png" alt="Photo">
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mb-3" src="../../dist/img/patwal3.png" alt="Photo">
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mb-3" src="../../dist/img/patwal4.png" alt="Photo">
                            </div> -->
                        </div>
                        <input type="hidden" id="chat_id" value="<%= row.chat_id %>" />
                        <input type="hidden" id="chat_name" value="<%= row.activity_name %>" />

                    </div>
                </div>
            </div>
            <div class="col-md-7  mb-2">
                <div class="card h-100" style="background-color: #18261C;">
                    <div class="card-body" style="padding: 0;">
                        <input type="hidden" id="id" value="<%= id %>" />
                        <input type="hidden" id="type" value="<%= type %>" />
                        <input type="hidden" id="user_id" value="<%= user_id %>" />
                        <input type="hidden" id="username" value="<%= username %>" />
                        <input type="hidden" id="token" value="<%= token %>" />
                        <input type="hidden" id="socket_url" value="<%= socket_url %>" />

                        <div id="map">
                            <a href="https://www.maptiler.com"
                                style="position:absolute;left:10px;bottom:10px;z-index:999;"><img
                                    src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
                        </div>

                        <!-- User Overlay -->
                        <div class="user-overlay" id="user-overlay">
                            <!-- User Card -->
                            <!-- <div class="user-card">
                                <img src="avatar1.jpg" class="user-avatar">
                                <div class="user-info">
                                    <div class="user-name">Budi Santoso</div>
                                    <div class="user-id">ID: EMP-001</div>
                                </div>
                            </div>

                            <div class="user-card">
                                <img src="avatar2.jpg" class="user-avatar">
                                <div class="user-info">
                                    <div class="user-name">Siti Aminah</div>
                                    <div class="user-id">ID: EMP-002</div>
                                </div>
                            </div> -->
                        </div>



                    </div>
                    <!-- /.card-body -->
                    <!-- <div class="card-footer">

                    </div> -->
                    <!-- /.card-footer-->
                </div>
            </div>
            <div class="col-md-2  mb-2">
                <div class="card h-100" style="background-color: #18261C;">
                    <div class="card-header">
                        <h5 class="text-white">Live Chat</h5>
                    </div>
                    <div class="card-body scrollable-card-body">
                        <div class="wa-chat-body" id="chat-container">
                            <!-- Pesan WhatsApp-style akan append di sini -->
                        </div>

                    </div>
                    <div class="wa-chat-input">
                        <input id="msg" type="text" placeholder="Type a message">
                        <button id="sendMessage">Send</button>
                    </div>

                </div>
            </div>
        </div>

</section>
<!-- /.content -->